:root {
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #aad;
}

main > ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: #aad;
    margin-top: auto;
    text-align: center;
}

.title {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.with-sidebar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
  max-width: 120ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.with-sidebar > :first-child {
  width: fit-content;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 80%;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.card {
    border: 1px solid #000;
    background-color: #eee;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card > * + * {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.card img {
  height: 5rem;
  object-fit: cover;
  height: 5rem;
  width: 100%;
}

svg {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}
