{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <nav>
      <ul class="title">
        <li><h2>Some Store</h2></li>
        <li><a href="/stream">Stream</a></li>
        <li><a href="/nostream">No Stream</a></li>
      </ul>
      <form>
        <label for="search">Search</label>
        <input type="search" name="q" id="search">
      </form>
      {{.Profile.Load}}
    </nav>
    <div class="with-sidebar" style="--s1: 1rem;">
        <aside>
          <h2>Categories</h2>
          {{.Categories.Load}}
        </aside>
        <main>
          <h1>Products</h1>
          {{.Products.Load}}
        </main>
    </div>

    <footer>
      <p>Some Store footer</p>
    </footer>
  </body>
</html>
{{end}}
